---
import GITHUB from "@/components/Iconos/GitHub.astro";
import EMAIL from "@/components/Iconos/Email.astro";
---

<footer id="footer" class="min-h-[100px] overflow-hidden border-t border-[rgb(45,253,3)] bg-black text-white">
    <div class="mx-auto flex w-full max-w-7xl flex-col items-center justify-between gap-6 py-10 md:flex-row">
        <!-- LEFT -->
        <p class="flex-1 text-sm text-zinc-400">
            © {new Date().getFullYear()} Luis Enrique Hernández Marin
        </p>

        <!-- CENTER -->
        <p class="flex flex-1 items-center justify-center gap-2 text-sm text-zinc-400">
            Hecho con
            <span class="me-1 text-[rgb(45,253,3)]"> Astro</span>
            +
            <span class="text-[rgb(45,253,3)]">GSAP</span>
        </p>

        <!-- RIGHT -->
        <div class="footer-icons flex flex-1 justify-end gap-6">
            <a
                href="https://github.com/EnriqueHM31"
                target="_blank"
                rel="noreferrer"
                class="transition hover:scale-120 hover:text-[rgb(45,253,3)]"
            >
                <GITHUB class="h-5 w-5" />
            </a>

            <a
                href="mailto:luisenriquehernandezmarin0@gmail.com"
                class="transition hover:scale-120 hover:text-[rgb(45,253,3)]"
            >
                <EMAIL class="h-5 w-5" />
            </a>
        </div>
    </div>
</footer>
