---
const LINKS = [
    { name: "Inicio", id: "home" },
    { name: "Sobre mi", id: "about" },
    { name: "Herramientas", id: "tecnologias" },
    { name: "Proyectos", id: "proyectos" },
    { name: "Contacto", id: "contacto" },
];
---

<nav class="fixed top-0 left-0 z-50 w-full px-8 py-3 backdrop-blur-md">
    <div class="mx-auto flex max-w-7xl items-center justify-between">
        <a
            href="/"
            class="group link-home relative flex items-center gap-3 px-3 transition-colors duration-300 hover:text-green-400"
        >
            <img src="/logo.svg" alt="Logo" class="h-11 w-11 rounded-full object-cover" />
            <h1 class="text-xl font-semibold text-white">Desarrollador Web</h1>

            <span
                class="corner-tl pointer-events-none absolute -top-1.5 -left-1.5 size-7 border-t-[3px] border-l-[3px] border-green-400 opacity-0 transition-all duration-600 group-hover:translate-2 group-hover:opacity-100"
            ></span>

            <span
                class="corner-br pointer-events-none absolute -right-1.5 -bottom-1.5 size-7 border-r-[3px] border-b-[3px] border-green-400 opacity-0 transition-all duration-600 group-hover:-translate-2 group-hover:opacity-100"
            ></span>
        </a>

        <ul class="flex gap-10">
            {
                LINKS.map((link) => (
                    <li class="link-nav">
                        <button
                            data-id={link.id}
                            onclick={`scrollToSection('${link.id}')`}
                            class="nav-btn group relative cursor-pointer px-6 py-1 text-white transition-colors duration-300 hover:text-green-400"
                        >
                            {link.name}

                            <span class="corner-tl pointer-events-none absolute -top-1.5 -left-1.5 size-7 border-t-[3px] border-l-[3px] border-green-400 opacity-0 transition-all duration-600 group-hover:translate-1 group-hover:opacity-100" />

                            <span class="corner-br pointer-events-none absolute -right-1.5 -bottom-1.5 size-7 border-r-[3px] border-b-[3px] border-green-400 opacity-0 transition-all duration-600 group-hover:-translate-1 group-hover:opacity-100" />
                        </button>
                    </li>
                ))
            }
        </ul>
    </div>
</nav>

<style>
    .nav-btn.active {
        color: #4ade80;
    }

    .nav-btn.active .corner-tl,
    .nav-btn.active .corner-br {
        opacity: 1;
    }
</style>

<script is:inline>
    function scrollToSection(id) {
        document.getElementById(id)?.scrollIntoView({
            behavior: "smooth",
        });
    }
</script>

<script is:inline type="module">
    // SCROLL SPY
    const buttons = document.querySelectorAll(".nav-btn");
    const sections = [...buttons].map((btn) => {
        const section = document.getElementById(btn.dataset.id);
        return section;
    });

    console.log({ sections });

    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                console.log({ entry });
                const btn = document.querySelector(`.nav-btn[data-id="${entry.target.id}"]`);
                console.log({ btn });

                if (!btn) return;

                if (entry.isIntersecting) {
                    buttons.forEach((b) => b.classList.remove("active"));
                    btn.classList.add("active");
                }
            });
        },
        {
            rootMargin: "-40% 0px -50% 0px",
            threshold: 0,
        }
    );

    sections.forEach((section) => {
        if (section) observer.observe(section);
    });
</script>

<script>
    import gsap from "gsap";

    gsap.from(".link-home", {
        duration: 1.5,
        yPercent: 50,
        opacity: 0,
        y: 50,
        stagger: 0.1,
        ease: "expo.out",
    });

    gsap.from(".link-nav", {
        y: 40, // empieza abajo
        opacity: 0,
        delay: 0.2,
        duration: 0.6,
        stagger: 0.12, // uno después del otro
        ease: "power3.out",
    });
</script>
