<div class="button-icon">
	<div class="icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24">
			<path fill="#ffffff" d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm3.519 0L12 11.671L18.481 6zM20 7.329l-7.341 6.424a1 1 0 0 1-1.318 0L4 7.329V18h16z"></path>
		</svg>
	</div>
	<div class="cube">
		<span class="side front">Mi correo</span>
		<span class="side top">Enviar Correo</span>
	</div>
</div>

<style>
	.button-icon {
		display: flex;
		border: 0.3rem var(--blanco) solid;
		width: fit-content;
		cursor: pointer;
	}

	.icon {
		background-color: var(--negro);
		padding: 1rem 1rem 0.5rem 1rem;
		border: 0.3rem solid var(--blanco);
	}

	.icon svg {
		width: 3rem;
		height: auto;
	}

	.cube {
		transition:
			background-color 0.3s ease-in-out,
			transform 0.3s ease-in-out;
		transform-style: preserve-3d;
		min-width: 20rem;
		height: auto;
	}

	.button-icon:hover {
		border-color: var(--cyan);
	}

	.button-icon:hover .cube {
		transform: rotateX(90deg);
	}

	.side {
		position: absolute;
		min-height: 5rem;
		width: 100%;
		display: flex;
		font-size: clamp(1rem, 4vw, 1.5rem);
		justify-content: center;
		align-items: center;
		font-weight: bold;
	}

	.top {
		background: var(--cyan);
		color: var(--negro);
		transform: rotateX(-90deg) translate3d(0, 0rem, 2rem);
	}

	.front {
		background: var(--negro);
		color: var(--blanco);
		transform: translate3d(0, 0, 2rem);
	}
</style>
