---
import TitleSection from "../Atomos/TitleSection.astro";
---

<section class="flex min-h-screen flex-col items-center justify-center gap-10 bg-red-600" id="about">
    <TitleSection title="Soy desarrollador web" />
</section>
