---

---

<section class="flex min-h-screen flex-col items-center justify-center gap-10 bg-red-600" id="about">
    <h2 class="title-section text-5xl font-bold text-white">Soy desarrollador web</h2>
</section>
