---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Pagina no encontrada" descripcion="Pagina 404 del portafolio Enrique Hernandez">
	<main class="contenedor-404">
		<figure class="contenedor-imagen-404">
			<img src="/Errores/image-404.webp" alt="Imagen que representa un error 404" />
		</figure>
		<section class="contenido-404">
			<h1>Error 404</h1>
			<p>La página que buscas no existe.</p>
		</section>
	</main>
</Layout>

<style>
	.contenedor-404 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100%;
		gap: 2rem;
	}

	.contenedor-imagen-404 {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		filter: drop-shadow(0 0 1.5rem var(--blanco));
	}

	.contenido-404 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		width: 50%;
	}

	.contenido-404 h1 {
		font-size: clamp(2rem, 5vw, 7rem);
		color: var(--negro);
		padding: 1rem 2rem;
		border-radius: 1.5rem;
		background-color: var(--cyan);
		width: fit-content;
	}
	.contenido-404 p {
		font-size: clamp(1.5rem, 5vw, 5rem);
		color: var(--blanco);
		line-height: 1.5;
	}
</style>
