---
import Navegacion from '../components/Navegacion.astro'
import Header from '../components/Header.astro'
import Proyectos from '../components/Proyectos.astro'
import Layout from '../layouts/Layout.astro'
import Conoceme from '../components/Conoceme.astro'
import Contacto from '../components/Contacto..astro'
---

<Layout title="Portafolio" descripcion="Pagina principal del portafolio Enrique Hernandez">
	<header>
		<Navegacion />
		<Header />
	</header>
	<main>
		<Proyectos />
		<Conoceme />
		<Contacto />
	</main>
</Layout>
