---
import Fondo from "../components/Fondo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio" descripcion="Este el portafolio de mi trabajo">
    <Fondo>
        <h1>Hola Mundo</h1>
        <p>Este es mi portafolio</p>
    </Fondo>
</Layout>
