---
import Navegacion from '../components/Navegacion.astro'
import Header from '../components/Header.astro'
import Proyectos from '../components/Proyectos.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Portafolio">
	<header>
		<Navegacion />
		<Header />
	</header>
	<main>
		<Proyectos />
	</main>
</Layout>
