---
import Fondo from "../components/Landing/Fondo.astro";
import Navegacion from "../components/Landing/NavBar.astro";
import SectionAbout from "../components/SectionAbout.astro";
import SectionContacto from "../components/SectionContacto.astro";
import SectionHero from "../components/SectionHero.astro";
import SectionProyectos from "../components/SectionProyectos.astro";
import SectionTecnologias from "../components/SectionTecnologias.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio" descripcion="Este el portafolio de mi trabajo">
    <Fondo />
    <div class="mx-auto max-w-7xl overflow-hidden px-4 sm:px-6 lg:px-8">
        <Navegacion />
        <main>
            <SectionHero />
            <SectionAbout />
            <SectionTecnologias />
            <SectionProyectos />
            <SectionContacto />
        </main>
    </div>
</Layout>
