---
import Fondo from "../components/Fondo.astro";
import Navegacion from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio" descripcion="Este el portafolio de mi trabajo">
    <Fondo />
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <Navegacion />
        <main></main>
    </div>
</Layout>
