---
import type { Etiqueta } from '../types'
const { title, texto } = Astro.props as Etiqueta
---

<article class="etiqueta">
	<header class="header">
		<p class="title">{title}</p>
		<span class="contenido-etiqueta">
			<slot />
		</span>
	</header>

	<main class="footer">
		<section class="code">
			<span class="icon">
				<svg class="w-[19px] h-[19px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m9 5 7 7-7 7"></path>
				</svg>
			</span>
			<p class="text">{texto}</p>
		</section>
	</main>
</article>

<style>
	.card {
		width: max(30%, 40%);
		height: auto;
		background-color: var(--negro);
		border: 0.1rem solid white;
		border-radius: 10px;
		display: grid;
		grid-template-rows: 40px 1fr;
	}

	.card .header {
		display: flex;
		align-items: center;
		position: relative;
	}

	.card .header .title {
		font-size: clamp(1.2rem, 5vw, 1.8rem);
		color: var(--cyan);
		padding: 0.2rem 1.5rem;
	}

	.card .header .contenido-etiqueta {
		position: absolute;
		top: 2rem;
		right: 0.5rem;
		background: transparent;
		border: none;
		transform: translate(-50%, -50%);
		color: var(--negro);
		cursor: pointer;
		transition: color 0.3s ease;
		z-index: 100;
	}

	.card .header .contenido-etiqueta:hover {
		color: #eee;
	}

	.etiqueta .footer {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}

	.etiqueta .footer .code {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.etiqueta .footer .code .icon {
		color: var(--cyan);
	}

	.text {
		font-size: clamp(1rem, 5vw, 1.5rem);
		color: var(--blanco);
		padding: 0.5rem;
		border-radius: 1rem;
		transition:
			background-color 0.3s ease,
			color 0.3s ease,
			scale 0.3s ease;
	}

	.etiqueta:hover .text {
		scale: 1.3;
		background: var(--cyan);
		color: black;
	}
</style>
