---
import IconoGitHub from '../components/Iconos/IconoGitHub.astro'
import IconoEmail from '../components/Iconos/iconoEmail.astro'
import { Image } from '@astrojs/image/components'
---

<section class="seccion-header" id="inicio">
	<div class="contenido-header">
		<h1 class="titulo">Frontend Developer</h1>
		<p class="descripcion-header">"Detrás de cada clic, cada transición, hay un diseño y código frontend trabajando para hacer que todo fluya."</p>
		<div class="contenedor-iconos-contacto">
			<a href="https://github.com/EnriqueHM31" target="_blank">{(<IconoGitHub />)}</a>
			<a href="mailto:luisenriquehernandezmarin0@gmail.com?subject=Trabajo">{(<IconoEmail />)} </a>
		</div>
	</div>

	<figure class="image-header">
		<Image src="/header.webp" alt="portada" width={500} height={500} loading="lazy" />
	</figure>
</section>

<style>
	.seccion-header {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 95%;
		min-height: 100dvh;
		padding: 2rem;
		margin: 0 auto;
	}

	.contenido-header {
		width: min(55%, 100%);
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.titulo {
		font-size: clamp(2rem, 6vw, 7rem);
		color: var(--blanco);
		text-shadow: 0 0 1rem var(--cyan);
	}

	.descripcion-header {
		font-size: clamp(1.5rem, 5vw, 2.5rem);
		color: var(--blanco);
		margin-top: 1rem;
		line-height: 1.5;
	}

	.contenedor-iconos-contacto {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 2rem;
		margin-top: 3rem;
	}

	.contenedor-iconos-contacto a {
		height: auto;
	}

	.image-header {
		width: min(40%, 100%);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image-header img {
		width: 80%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		filter: drop-shadow(0 0 1rem var(--cyan));
		animation: astro 1s linear infinite alternate;
		rotate: 20deg;
	}

	@keyframes astro {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-5rem);
		}
	}
</style>
