---
const LINKS = [
  { name: "Inicio", href: "/home" },
  { name: "Sobre mi", href: "/about" },
  { name: "Proyectos", href: "/proyectos" },
  { name: "Contacto", href: "/contacto" },
];

const pathname = Astro.url.pathname
---

<nav class="w-full px-8 py-6 fixed z-50 top-0 left-0 backdrop-blur-2xl">
  <div class="mx-auto flex max-w-7xl items-center justify-between">
    <!-- IZQUIERDA -->
    <div class="flex items-center gap-3">
        <img
        src="/logo.svg"
        alt="Logo"
        class="h-11 w-11 rounded-full object-cover"
        />
        <h1 class="text-xl font-semibold text-white">
        Mi Sitio
        </h1>
    </div>

    <!-- LINKS -->
    <ul class="flex gap-12">
      {LINKS.map((link) => {
        const isActive = pathname === link.href;

        return (
            <li>
                <button
                onclick={`scrollToSection('${link.href.replace("/", "")}')`}

                class={`
                group relative px-6 py-1 
                transition-colors duration-300 
                hover:text-green-400 cursor-pointer
                ${isActive ? "text-green-400" : "text-white"}
                `}
            >
                {link.name}

                <!-- esquina superior izquierda -->
                <span
                class={`
                    pointer-events-none absolute -left-1.5 -top-1.5
                    size-7
                    border-l-[3px] border-t-[3px] border-green-400
                    transition-opacity duration-300
                    opacity-0
                    group-hover:opacity-100
                    ${isActive ? "opacity-100" : ""}
                    `}
                />

                <!-- esquina inferior derecha -->
                <span
                    class={`
                    pointer-events-none absolute -bottom-1.5 -right-1.5
                    size-7
                    border-b-[3px] border-r-[3px] border-green-400
                    transition-opacity duration-300
                    opacity-0
                    group-hover:opacity-100
                    ${isActive ? "opacity-100" : ""}
                `}
                />
            </button>
            </li>
        );
        })}
    </ul>
    </div>
</nav>


<style>
    .nav-item:hover::before { opacity: 1; }
</style>

<script is:inline>
  function scrollToSection(id) {
    const element = document.getElementById(id);
    if (!element) return;

    element.scrollIntoView({
      behavior: "smooth",
      block: "start",
    });
  }
</script>