<nav class="navegacion">
	<div class="contenido-nav">
		<strong class="nombre-portafolio">Luis Enrique Hernandez Marin</strong>
	</div>
	<ul class="menu">
		<li class="menu-item">
			<a class="link-menu" href="#inicio">Inicio</a>
		</li>
		<li class="menu-item">
			<a class="link-menu" href="#proyectos">Proyectos</a>
		</li>
		<li class="menu-item">
			<a class="link-menu" href="#conoceme">Conoceme</a>
		</li>
		<li class="menu-item">
			<a class="link-menu" href="/contact">Contacto</a>
		</li>
	</ul>
</nav>

<style>
	.navegacion {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		position: fixed;
		padding: 1rem 2rem;
		z-index: 1000;
	}

	.contenido-nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nombre-portafolio {
		font-size: clamp(1.5rem, 5vw, 2.5rem);
		color: var(--blanco);
	}
	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	.menu-item {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
	.link-menu {
		color: var(--blanco);
		font-size: clamp(1.5rem, 5vw, 2.5rem);
		padding: 1rem 2rem;
		position: relative;
		border-radius: 1.3rem;
		transition: color 0.3s ease-in-out;
		text-align: center;
		min-width: clamp(10rem, 20vw, 15rem);
	}
	.link-menu::after {
		content: '';
		background-color: var(--cyan);
		position: absolute;
		inset: 0;
		z-index: -1;
		border-radius: 1.3rem;
		scale: 0;
		transition: scale 0.3s ease-in-out;
	}

	.link-menu:hover::after {
		scale: 1;
	}

	.link-menu:hover {
		color: var(--negro);
	}
</style>
