---
import CardProyecto from './CardProyecto.astro'

import { getCollection } from 'astro:content'

const proyectos = await getCollection('proyectos')
---

<section class="seccion">
	<header>
		<div class="typing">
			<h3>Proyectos</h3>
		</div>
	</header>

	<main class="contenido-proyectos" id="proyectos">
		{
			proyectos.map((proyecto) => {
				return <CardProyecto data={proyecto.data} slug={proyecto.slug} />
			})
		}
	</main>

	<style>
		.contenido-proyectos {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
			width: 95%;
			overflow-x: hidden;
			gap: 3rem;
			padding: 10rem;
		}
	</style>
</section>
