---
import CardProyecto from './CardProyecto.astro'
import { type Proyecto } from '../types'

import { getCollection } from 'astro:content'

const proyectos = await getCollection('proyectos')

const { data, slug } = proyectos[0] as Proyecto
---

<section class="seccion">
	<header>
		<div class="typing">
			<h3>Proyectos</h3>
		</div>
	</header>

	<main class="contenido-proyectos" id="proyectos">
		{(<CardProyecto data={data} slug={slug} />)}
	</main>

	<style>
		.contenido-proyectos {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			width: 90%;
		}
	</style>
</section>
