---
import CardProyecto from './CardProyecto.astro'
import { getCollection } from 'astro:content'

const proyectos = await getCollection('proyectos')
---

<section class="seccion">
	<header>
		<div class="typing">
			<h2>Proyectos</h2>
		</div>
	</header>

	<main class="contenido-proyectos" id="proyectos">
		{
			proyectos.map((proyecto) => {
				return <CardProyecto data={proyecto.data} slug={proyecto.slug} />
			})
		}
	</main>
</section>

<style>
	.contenido-proyectos {
		display: flex;
		flex-wrap: wrap;
		width: 90%;
		gap: 3rem;
		padding: 5rem;
		align-items: center;
		justify-content: center;
		justify-items: center;
		place-items: center;
	}

	@media (max-width: 1100px) {
		.contenido-proyectos {
			width: 100%;
			padding: 2rem;
			gap: 1rem;
			justify-content: center;
			align-items: center;
			gap: 5rem;
		}
	}
</style>
