---
import LOGO from "../../public/logo.jpg";
---

<div class="contacto w-full py-20">
    <section class="flex items-center justify-center text-white">
        <div class="grid w-full grid-cols-1 gap-16 md:grid-cols-2" id="contacto">
            <!-- INFO / LOGO -->
            <div class="flex w-full flex-col items-start justify-center gap-5">
                <img src={LOGO.src} alt="Logo" class="contact-info w-[90px]" />

                <h3 class="contact-info text-2xl font-bold">Luis Enrique Hernández</h3>

                <p class="contact-info text-zinc-400">Desarrollador Web</p>

                <div
                    class="contact-info mt-4 w-full max-w-3/4 cursor-pointer rounded-lg border border-[rgb(45,253,3)] p-4 hover:bg-[rgba(45,253,3,0.1)]"
                    onclick="
                    navigator.clipboard.writeText('luisenriquehernandezmarin0@gmail.com');
                    window.toast.success('Email copiado ✨');"
                >
                    <span class="contact-info block text-xs text-zinc-400"> Email </span>

                    <strong class="contact-info block"> luixxxxxxxxxxxxxxxxx@gmail.com </strong>

                    <small class="contact-info text-xs text-zinc-400"> (click para copiar) </small>
                </div>
            </div>

            <!-- FORMULARIO -->
            <div class="contact-form flex flex-col gap-6">
                <h2 class="contact-form text-5xl font-bold text-[rgb(45,253,3)]">Hablemos 👋</h2>

                <p class="contact-form max-w-11/12 text-zinc-300">
                    ¿Tienes una idea, proyecto o quisiera contratarme? Escríbeme y lo platicamos juntos.
                </p>

                <form class="contact-form flex flex-col gap-4">
                    <div class="flex gap-2">
                        <input
                            type="text"
                            id="name"
                            autocomplete="on"
                            placeholder="Tu nombre"
                            required
                            class="flex-1 rounded-md border border-[rgb(45,253,3)] bg-transparent px-4 py-3 text-white outline-none focus:shadow-[0_0_15px_rgba(45,253,3,0.6)]"
                        />

                        <input
                            type="email"
                            placeholder="Tu email"
                            id="email"
                            autocomplete="on"
                            required
                            class="flex-1 rounded-md border border-[rgb(45,253,3)] bg-transparent px-4 py-3 text-white outline-none focus:shadow-[0_0_15px_rgba(45,253,3,0.6)]"
                        />
                    </div>

                    <textarea
                        rows="4"
                        id="message"
                        placeholder="Cuéntame tu idea..."
                        required
                        class="contact-form resize-none rounded-md border border-[rgb(45,253,3)] bg-transparent px-4 py-3 text-white outline-none focus:shadow-[0_0_15px_rgba(45,253,3,0.6)]"
                    ></textarea>

                    <button
                        type="submit"
                        class="btn contact-form mt-4 cursor-pointer rounded-md bg-[rgb(45,253,3)] py-3 font-bold text-black"
                    >
                        Enviar mensaje
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    document.querySelectorAll(".btn").forEach((btn) => {
        btn.addEventListener("mouseenter", () => {
            gsap.to(btn, {
                y: -4,
                scale: 1.03,
                duration: 0.25,
                ease: "power2.out",
            });
        });

        btn.addEventListener("mouseleave", () => {
            gsap.to(btn, {
                y: 0,
                scale: 1,
                duration: 0.25,
                ease: "power2.out",
            });
        });
    });

    gsap.registerPlugin(ScrollTrigger);

    gsap.from(".contact-form", {
        scrollTrigger: {
            trigger: ".contacto",
            start: "top 30%",
            toggleActions: "play reverse play reverse",
        },
        opacity: 0,
        x: 100,
        duration: 0.4,
        stagger: 0.25,
        ease: "expo.inOut",
    });

    gsap.from(".contact-info", {
        scrollTrigger: {
            trigger: ".contacto",
            start: "top 30%",
            toggleActions: "play reverse play reverse",
        },
        opacity: 0,
        x: -100,
        duration: 0.4,
        stagger: 0.25,
        delay: 0.2,
        ease: "expo.out",
    });
</script>
