---
const { title } = Astro.props;
---

<h2 class="title-animate w-full px-4 py-2 text-4xl">
    {title}
</h2>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";
    import SplitText from "gsap/SplitText";

    gsap.registerPlugin(ScrollTrigger, SplitText);

    const split = new SplitText(".title-animate", {
        type: "chars",
        charsClass: "char",
    });

    gsap.from(split.chars, {
        scrollTrigger: {
            trigger: ".title-animate",
            start: "top 85%",
        },
        opacity: 0,
        scale: 0.4,
        y: 30,
        filter: "blur(12px)",
        stagger: {
            each: 0.04,
            from: "start",
        },
        duration: 0.9,
        ease: "expo.out",
    });
</script>

<style>
    h2 {
        text-shadow:
            2px 2px 10px rgba(15, 17, 15, 0.9),
            2px 5px 2px rgba(1, 255, 22, 0.9),
            2px 5px 2px rgb(30, 255, 0);
    }

    .char {
        display: inline-block;
    }
</style>
