* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    width: clamp(20rem, 80vw, 100rem);
    font-family: 'monse', sans-serif;
    color: var(--blanco);
    font-size: clamp(1rem, 4vw, 2rem);
    line-height: 1.4;
    margin-bottom: 1rem;
}

p:nth-child(4) {
    font-size: clamp(1.5rem, 5vw, 2.7rem);
    font-weight: bold;
    color: var(--cyan);
    text-align: center;
}

ul {
    width: 1005px;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

li {
    width: 100%;
    font-family: 'monse', sans-serif;
    font-size: clamp(1rem, 4vw, 2rem);
    color: var(--blanco);


}