* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    width: clamp(20rem, 80vw, 100%);
    font-family: 'monse', sans-serif;
    color: var(--blanco);
    font-size: clamp(1rem, 4vw, 2rem);
    line-height: 1.4;
    margin-bottom: 1rem;
}



ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

li {
    width: 100%;
    font-family: 'monse', sans-serif;
    font-size: clamp(1rem, 4vw, 2rem);
    color: var(--blanco);
}

.iconos-tecnologias {
    transition: translate 0.5s, scale 0.5s, filter 0.5s;
}

.article-tecnologia:hover .iconos-tecnologias {
    scale: 2.2;
    translate: 0 -2rem 0;
}


.contenido-proyecto[data-color='yellow'] .article-tecnologia:hover .iconos-tecnologias {
    filter: drop-shadow(0 2rem 1.2rem yellow);
}

.contenido-proyecto[data-color='red'] .article-tecnologia:hover .iconos-tecnologias {
    filter: drop-shadow(0 2rem 1.2rem red);
}

.contenido-proyecto[data-color='#567fff'] .article-tecnologia:hover .iconos-tecnologias {
    filter: drop-shadow(0 2rem 1.2rem #567fff);
}

.contenido-proyecto[data-color='#56051f'] .article-tecnologia:hover .iconos-tecnologias {
    filter: drop-shadow(0 2rem 1.2rem #56051f);
}