---
import { ClientRouter } from 'astro:transitions'
interface Props {
	title: string
	descripcion: string
}
const { title, descripcion } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="./icono.svg" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={descripcion} />
		<ClientRouter />
	</head>
	<body>
		<div class="fondo">
			<div class="circulos"></div>
			<div class="circulos"></div>
			<div class="circulos"></div>
			<div class="circulos"></div>
			<div class="circulos"></div>
		</div>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--blanco: #fff;
		--negro: #000;
		--cyan: #04ffe2;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		list-style: none;
		text-decoration: none;
	}
	html {
		font-size: 10px;
		background-color: hsla(0, 0%, 0%, 1);
		background-image: radial-gradient(at 21% 56%, hsla(202, 95%, 7%, 1) 0px, transparent 50%), radial-gradient(at 97% 51%, rgb(0, 7, 7) 0px, transparent 50%),
			radial-gradient(at 95% 3%, rgb(1, 40, 47) 0px, transparent 50%), radial-gradient(at 81% 92%, hsla(184, 100%, 8%, 1) 0px, transparent 50%),
			radial-gradient(at 10% 96%, rgb(0, 0, 0) 0px, transparent 50%), radial-gradient(at 89% 100%, rgb(8, 20, 18) 0px, transparent);
	}

	body {
		overflow-x: hidden;
		min-height: 100dvh;
	}

	@font-face {
		font-family: 'monse';
		src: url('../assets/monserrat.woff2') format('woff2');
		font-display: swap;
	}

	@font-face {
		font-family: 'out';
		src: url('../assets/out.woff2') format('woff2');
		font-display: swap;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'monse', sans-serif;
	}

	a,
	p,
	strong,
	input,
	button,
	textarea,
	select,
	::after,
	::before,
	span,
	strong,
	div {
		font-family: 'out', sans-serif;
	}

	.seccion {
		padding: 5rem 0;
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		width: 95%;
		margin: 0 auto;
	}

	.typing h2 {
		font-size: clamp(2rem, 5vw, 7rem);
		color: var(--blanco);
		text-shadow: 0 0 1rem var(--cyan);
		overflow: hidden;
		border-right: 0.3rem solid white;
		white-space: nowrap;
		letter-spacing: 0.2rem;
		animation:
			typing 4s steps(20, end) infinite alternate,
			cursor 0.75s step-end infinite;
	}

	.iconos-tecnologias {
		max-width: clamp(1.5rem, 5vw, 3rem);
		min-width: clamp(1.5rem, 5vw, 3rem);
		width: 100%;
		height: auto;
		aspect-ratio: 1 /1;
		z-index: 1;
	}

	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: calc(100% + 5rem);
		}
	}

	@keyframes cursor {
		from,
		to {
			border-color: transparent;
		}
		50% {
			border-color: white;
		}
	}

	.fondo {
		width: 100%;
		height: 100dvh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.circulos {
		width: 30rem;
		height: 30rem;
		border-radius: 50%;
		background-color: var(--blanco);
		position: absolute;
		filter: blur(2rem);
		opacity: 0.3;
	}

	.circulos:nth-child(1) {
		top: 40%;
		left: 40%;
		background: #04ffe2;
	}
	.circulos:nth-child(2) {
		top: 0;
		right: 0;
		background: #55aaa0;
	}
	.circulos:nth-child(3) {
		bottom: 0;
		right: 0;
		background: #0a6359;
	}
	.circulos:nth-child(4) {
		bottom: 0;
		left: 0%;
		background: #4c847d;
	}
	.circulos:nth-child(5) {
		top: 0;
		left: 0;
		background: #067377;
	}

	.circulos {
		animation: move 1s linear infinite alternate;
	}

	@keyframes move {
		0% {
			transform: translateY(0) scale(0.5);
		}
		100% {
			transform: translateY(-10rem) scale(1);
		}
	}
</style>
